* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    background-image: url(/assets/images/favicon-32x32.png);
    display: flex;
    background-size: cover;
    min-width: 375;
    max-width: 1440px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
main {
    background-color: white;
    height: 800px;
    width: 1300px;
    box-shadow: 0px 15px 15px rgba(125, 123, 123, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    margin: 25px auto;
}

strong {
    color: white;
}

p strong {
    font-size: 48px;
    display: block;
    line-height: 1.4;
}
p {
    background: linear-gradient( hsla(256, 72%, 46%, 1) 40%, hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px auto ;
    padding: 20px;
    font-size: 16px;
}

footer strong {
    display: block;
    margin: 20px;
    font-size: 20px;
}

span {
    color: rgba(125, 123, 123, 0.55);
}

.rate strong{
    color: black;
}

footer {
    margin: 20px;
    text-align: center;
    font-size: 15px;
}

.result {
    background-color:  hsl(241, 81%, 54%);
    width: 255px;
    color: hsla(221, 85%, 95%, 0.5);
    height: 375px;
    border-radius: 20px;
    box-shadow: 10px 15px 15px hsl(221, 100%, 96%);
    z-index: 1;
    text-align: center;
}
.summary {
    background-color: white;
    width: 285px;
    height: 375px;
    box-shadow: 10px 15px 15px hsl(221, 100%, 96%);
    border-radius: 20px;
    position: relative;
    right: 30px;
}
table {
    width: 80%;
    position: relative;
    left: 40px;
    top: 50px;
    border-collapse: collapse;
}

thead {
    position: relative;
    right: 60px;
    bottom: 20px;
}

#reaction {
    background-color:hsla(0, 100%, 67%, .1);
    color: hsl(0, 100%, 67%);
    font-size: 16px;
    text-align: justify;
    position: relative;
    padding: 10px;
    border-radius: 30px;
    border: 10px solid white;

}
#reaction .rate {
    position: relative;
    left: 35px;
}

#memory {
    background-color: hsla(39, 100%, 56%, .1) ;
    color:hsl(39, 100%, 56%) ;
    padding: 10px;
    border-radius: 30px;
    border: 10px solid white;
    font-size: 16px;

}

#memory .rate {
    position: relative;
    left: 38px;
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    padding: 10px;
    border-radius: 30px;
    border: 10px solid white;
    font-size: 16px;
}
#verbal .rate {
    position: relative;
    left: 50px;
}

#visual {
    background-color: hsla(234, 85%, 45%, .1);
    color:  hsl(234, 85%, 45%);
    padding: 10px;
    border-radius: 30px;
    border: 10px solid white;
    font-size: 16px;
}

#visual .rate {
    position: relative;
    left: 50px;
}

button:hover{
    cursor:pointer;
}

 button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    border-radius: 30px;
    position: relative;
    top: 60px;
    width: 200px;
    height: 45px;
    font-size: 16px;
    left: 20%;
 }
.attribution {
    position: absolute;
    top: 800px;
}

@media (max-width:600px) {
    body {
        background-image: none;
    }
    main {
        box-shadow: none;
        
    }
    .result {
        position: fixed;
        width: 100%;
        bottom: 55%;
        border-radius: 0px 0px 30px 30px;
       
    }
    .summary {
        box-shadow: none;
        position: fixed;
        width: 100%;
        top: 45%;
        height: 30%;
        right: 20px;
    }

    thead {
        position: relative;
        right: 35%;
        bottom: 20px;
    }

    table {
        width: 90%;
        position: fixed;
        left: 5%;
        top: 50%;
        border-collapse: collapse;
    }
    #reaction .rate {
        position: relative;
        left: 50%;
    }

    #memory .rate {
        position: relative;
        left: 51%;
    }

    #verbal .rate {
        position: relative;
        left: 55%;
    }

    #visual .rate {
        position: relative;
        left: 55%;
    }


    button {
        position: relative;
        width: 80%;
        left: 15%;
        top: 150%;
    }

    .attribution {
        display: none;
    }
}